/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v16-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v16-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ma-shan-zheng-regular - latin */
@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: local("Ma Shan Zheng Regular"), local("MaShanZheng-Regular"),
    url("../fonts/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ma-shan-zheng-v5-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-200 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("../fonts/raleway-v14-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/raleway-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), local("Raleway-Black"),
    url("../fonts/raleway-v14-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v17-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.default-btn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #1b1b1b;
  text-transform: uppercase;
  line-height: 20px;
  padding: 14px 36px;
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
}

.site-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: block;
  width: 100px;
  height: 130px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #4f4a37;
  padding-top: 85px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../images/icons/logo.png) 50% 20% no-repeat;
  background-color: #fcdb5a;
  margin-right: 70px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__list__item__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 400;
  color: #ffffff;
  position: relative;
}

.navigation__list__item__link:hover::after,
.navigation__list__item__link:focus::after {
  content: "";
  display: block;
  background-color: #fcdb5a;
  height: 2px;
  width: -webkit-fill-available;
  margin-top: 36px;
  position: absolute;
}

.slider-screen {
  background: url(../images/bg_screen1.png) no-repeat;
  background-size: cover;
}

.site-headline {
  font-family: "Ma Shan Zheng";
  font-weight: 400;
  font-size: 200px;
  color: #ffffff;
  width: 50%;
  padding-top: 300px;
  padding-bottom: 185px;
}
