/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v16-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v16-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ma-shan-zheng-regular - latin */
@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  src: local("Ma Shan Zheng Regular"), local("MaShanZheng-Regular"),
    url("../fonts/ma-shan-zheng-v5-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ma-shan-zheng-v5-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-200 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("../fonts/raleway-v14-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/raleway-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), local("Raleway-Black"),
    url("../fonts/raleway-v14-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v14-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v17-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
  margin-left: -1px;
}

.default-btn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #1b1b1b;
  text-transform: uppercase;
  line-height: 20px;
  padding: 14px 36px;
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
}

.section-headline {
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  color: #333333;
  text-align: center;
}

.section-headline-bold {
  font-weight: 900;
}

.section-description {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #b3b3b3;
  text-align: center;
  width: 570px;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* HEADER */

.site-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: block;
  width: 100px;
  height: 130px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #4f4a37;
  padding-top: 85px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../images/icons/logo.png) 50% 20% no-repeat;
  background-color: #fcdb5a;
  margin-right: 70px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__list__item__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 400;
  color: #ffffff;
  position: relative;
}

.navigation__list__item__link::after,
.navigation__list__item__link::after {
  content: "";
  display: block;
  background-color: #fcdb5a;
  height: 2px;
  width: -webkit-fill-available;
  margin-top: 36px;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms linear;
}

.navigation__list__item__link:hover::after,
.navigation__list__item__link:focus::after {
  opacity: 1;
}

/* SCREEN 1 SLIDER */

.slider-screen {
  background: url(../images/bg_screen1.png) no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.site-headline {
  padding-top: 300px;
  padding-bottom: 185px;
}

.site-headline span {
  display: block;
  width: 50%;
  font-family: "Ma Shan Zheng";
  font-weight: 400;
  font-size: 200px;
  color: #ffffff;
}

.products {
  width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.products-aside {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.products-aside-line {
  display: flex;
  justify-content: flex-start;
}

.product {
  position: relative;
}

.product-name {
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.product-name-bold {
  font-weight: 900;
}

.products-section-headline {
  color: #fcdb5a;
  text-align: left;
}

.product--sweets {
  width: -webkit-fill-available;
  height: 679px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 20%
    ),
    url(../images/photo1.jpg);
}

.product--organic {
  width: 500px;
  height: 310px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 50%
    ),
    url(../images/photo2.jpg);
}

.product--meat {
  width: 500px;
  height: 310px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 50%
    ),
    url(../images/photo3.jpg);
}

.product--fruits {
  width: 616px;
  height: 369px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0) 50%
    ),
    url(../images/photo4.jpg);
}

.head-product {
  width: 384px;
  height: 369px;
}

.products-section-headline {
  padding-top: 90px;
  padding-left: 90px;
}

/* SCREEN 2 SLOGAN SECTION */

.slogan {
  padding-top: 80px;
}

.slogan-bg {
  width: 719px;
  height: 492px;
  background: url(../images/photo5.jpg) no-repeat;
  background-size: contain;
  position: relative;
}

.slogan-bg::after {
  content: "";
  width: 329px;
  height: 492px;
  background: url(../images/photo6.jpg) no-repeat;
  background-size: contain;
  position: absolute;
  left: 430px;
  top: -38px;
  z-index: 1;
}

.slogan-text {
  font-family: "Ma Shan Zheng";
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  width: 520px;
  position: absolute;
  left: 655px;
  top: 20px;
  z-index: 2;
}

.slogan-text-yellow {
  color: #fcdb5a;
}

.slogan-text-pink {
  color: #db2985;
}

.slogan-text-green {
  color: #72aa41;
}

.slogan-text-orange {
  color: #f2a137;
}

.slogan-text-blue {
  color: #4fb1c9;
}

/* SCREEN 3 SERVICES SECTION */

.services {
  padding-top: 160px;
  padding-bottom: 140px;
}

.services__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.services__list__item {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  padding-top: 120px;
  position: relative;
}

.services__list__item::before {
  content: "";
  display: block;
  height: 120px;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
}

.services__list__item:nth-child(1)::before {
  background: url(../images/icons/icon_services_steak.png) center no-repeat;
}

.services__list__item:nth-child(2)::before {
  background: url(../images/icons/icon_services_cereals.png) center no-repeat;
}

.services__list__item:nth-child(3)::before {
  background: url(../images/icons/icon_services_pizza.png) center no-repeat;
}

.services__list__item:nth-child(4)::before {
  background: url(../images/icons/icon_services_burger.png) center no-repeat;
}

.services__list__item:nth-child(5)::before {
  background: url(../images/icons/icon_services_cupcake.png) center no-repeat;
}

.services__list__item:nth-child(6)::before {
  background: url(../images/icons/icon_services_vegetables.png) center no-repeat;
}

/* SCREEN 3 BENEFITS SECTION */

.benefits {
  background: url(../images/bg_screen3.jpg) top no-repeat;
  background-color: #f9f9f9;
  background-size: contain;
  padding-top: 145px;
  padding-bottom: 136px;
}

.benefits__headline {
  color: #ffffff;
  text-align: left;
  width: 300px;
  padding-bottom: 30px;
}

.benefits__description {
  font-family: "Open Sans";
  font-weight: 400;
  color: #c5c5c5;
  line-height: 23px;
  width: 570px;
  padding-bottom: 45px;
}

.benefits__btn {
  background-color: #fcdb5a;
  margin-bottom: 110px;
}

.benefits__list {
  display: flex;
}

.benefits__list__item {
  width: 292px;
  display: flex;
  flex-direction: column;
}

.benefits__list__item:nth-child(2n) {
  flex-direction: column-reverse;
}

.benefits__list__item__descr {
  height: 221px;
  background-color: #ffffff;
  padding: 50px 30px 40px 40px;
}

.benefits__list__item__descr__headline {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 26px;
}

.benefits__list__item__descr__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #666666;
}

/* SCREEN 4 TASTY SECTION */

.tasty {
  background: url(../images/bg_screen4.png) right top no-repeat;
  background-size: contain;
  background-color: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
}

.tasty::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 65%;
  width: 195px;
  height: 198px;
  background: url(../images/mark.png) center no-repeat;
}

.tasty__text {
  font-family: "Ma Shan Zheng";
  font-weight: 400;
  font-size: 230px;
  color: #ccaf8a;
  width: 470px;
}

/* SCREEN 5 PROGRESS SECTION */

.progress {
  padding: 150px 0px;
}

.progress__list {
  display: flex;
  justify-content: space-evenly;
}

.progress__list__item {
  padding: 0px 100px;
  position: relative;
}

.progress__list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: -webkit-fill-available;
}

.progress__list__item:nth-child(1)::before {
  background: url(../images/icons/icon_prog_muffin.png) center no-repeat;
}

.progress__list__item:nth-child(2)::before {
  background: url(../images/icons/icon_prog_cake.png) center no-repeat;
}

.progress__list__item:nth-child(3)::before {
  background: url(../images/icons/icon_prog_cupcake.png) center no-repeat;
}

.progress__list__item:nth-child(4)::before {
  background: url(../images/icons/icon_prog_doughnut.png) center no-repeat;
}

.progress__list__item-number {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  color: #2e211d;
  padding-bottom: 20px;
}

.progress__list__item-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

/* SCREEN 6 GALLERY SECTION */

.galllery__list {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  margin: 0 auto;
}

.gallery__list__item {
  position: relative;
}

.gallery__list__item-hov {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(36, 22, 16, 0.7);
  opacity: 0;
  transition: opacity 200ms linear;
}

.gallery__list__item-hov-text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery__list__item-hov:hover, .gallery__list__item-hov:focus {
  opacity: 1;
}