@import "./utils/fonts.css";

:root {
  box-sizing: border-box;
  color: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 906px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
  margin-left: -1px;
}

.default-btn {
  display: inline-block;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-decoration: none;
  padding: 14px 56px;
  background-color: #dddddd;
  border: none;
  cursor: pointer;
}

.section-headline {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 65px;
}

.section-with-finish {
  border-bottom: 4px solid #ededed;
  position: relative;
}

.section-with-finish::after {
  content: "";
  display: block;
  width: 79px;
  height: 74px;
  background: url(../img/divider-icon.png) center no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  font-family: "Engagement";
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
}

.send-message {
  font-family: "Lora";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding-top: 5px;
  position: relative;
}

.send-message::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  display: block;
  width: 28px;
  height: 28px;
  background: url(../img/icon-pigeon.png) center no-repeat;
}

.slider-section {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 40%
    ),
    url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  padding: 210px 0px 310px;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
  height: 316px;
  background: url(../img/intro-image.png) center no-repeat;
}

.slider::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 31px;
  height: 83px;
  background: url(../img/scroll-down-icon.png) center no-repeat;
}

.slider__headline {
  font-family: "Lora";
  font-weight: 700;
  font-size: 46px;
  width: 440px;
  margin-bottom: 30px;
}

.slider__btn {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 134px 4px rgba(0, 0, 0, 0.05);
}

.about {
  padding: 70px 0px 90px;
}

.about__headline {
  font-family: "Engagement";
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.about__text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 16px;
}

.about__text:not(:last-child) {
  margin-bottom: 25px;
}

.about__text a {
  color: #000000;
}

.first-letter {
  font-family: "Engagement";
  font-weight: 400;
  font-size: 52px;
  line-height: 1;
  float: left;
  transform: translateY(-5px);
}

.products {
  padding: 135px 0px;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product:nth-child(2n) {
  flex-direction: row-reverse;
}

.product:not(:last-child) {
  margin-bottom: 110px;
}

.product__description {
  width: 360px;
}

.product__headline {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 36px;
}

.product__text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 60px;
}

.product__properties {
  display: inline-block;
  width: 178px;
  margin-bottom: 45px;
}

.property__name {
  display: inline-block;
  width: 80px;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 14px;
}

.property__value {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 35px;
  padding-left: 5px;
}

.advantages {
  padding-top: 100px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.advantages__item {
  width: 160px;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-top: 110px;
  position: relative;
}

.advantages__item::before {
  content: "";
  width: inherit;
  height: 88px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__item:nth-child(1)::before {
  background: url(../img/icon-weapons.png) center no-repeat;
}

.advantages__item:nth-child(2)::before {
  background: url(../img/icon-target.png) center no-repeat;
}

.advantages__item:nth-child(3)::before {
  background: url(../img/icon-shield.png) center no-repeat;
}

.advantages__item:nth-child(4)::before {
  background: url(../img/icon-draw.png) center no-repeat;
}

.reviews {
  padding: 95px 0px 135px;
}

.reviews__block {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.reviews__photo {
  width: 157px;
  height: 157px;
  border-radius: 50%;
  margin-right: 60px;
}

.review {
  width: 470px;
  padding-top: 20px;
  position: relative;
}

.review::before {
  content: "";
  width: 62px;
  height: 54px;
  background: url(../img/icon-quote.png) center no-repeat;
  position: absolute;
  top: 0;
  left: -80px;
}

.review__text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.review__author {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  position: relative;
}

.review__author::before {
  content: "";
  width: 125px;
  height: 2px;
  background-color: #dddddd;
  position: absolute;
  top: -15px;
  right: 0;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
justify-content: center;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__btn {
  width: 43px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
}

.pagination__btn--warr {
  background: url(../img/icon-pag-warrior.png) center no-repeat;
}

.pagination__btn--christ-active {
  background: url(../img/icon-pag-christian.png) center no-repeat;
}

.pagination__btn--king {
  background: url(../img/icon-pag-king.png) center no-repeat;
}