<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Organic Food</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="slider-screen">
      <header class="site-header container">
        <a href="#" class="logo">AGRO</a>
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">Home</a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">About</a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">Pages</a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">Gallery</a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">Blog</a>
            </li>
            <li class="navigation-list__item">
              <a href="#" class="navigation-list__item__link">Contacts</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="default-btn navigation-btn">
          Get in touch
        </button>
      </header>
      <h1 class="site-headline">Organic Food</h1>
      <div class="products">
        <div class="product">
          <p class="product-name">
            <span class="product-name-bold">Awesome</span> sweets
          </p>
        </div>
        <div class="products-aside">
          <div class="products-aside-line">
            <div class="product">
              <p class="product-name">
                <span class="product-name-bold">Organic</span> food
              </p>
            </div>
            <div class="product">
              <p class="product-name">
                <span class="product-name-bold">Tasty</span> meat
              </p>
            </div>
          </div>
          <div class="products-aside-line">
            <div class="head-product">
              <h2 class="section-headline products-section-headline">
                <span class="section-headline-bold">Agro</span> awesome products
              </h2>
            </div>
            <div class="product">
              <p class="product-name">
                <span class="product-name-bold">Juicy</span> fruits
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main>
      <section class="slogan container">
        <img src="./images/photo5.jpg" alt="There was a photo!" />
        <img src="./images/photo6.jpg" alt="There was a photo!" />
        <p class="slogan-text">
          <span class="slogan-text-yellow">Quality</span>
          <span class="slogan-text-pink">food is the</span>
          <span class="slogan-text-green">most important</span>
          <span class="slogan-text-orange">thing in our</span>
          <span class="slogan-text-blue">life</span>
        </p>
      </section>
      <section class="services">
        <h2 class="section-headline services__headline">
          <span class="section-headline-bold">Agro food</span> services
        </h2>
        <p class="services__description">
          Latin words, combined with a handful of model sentence structures, to
          generate Lorem Ipsum which looks reasonable. Ipsum is therefore always
          free from repetition injected humour, or non-characteristic words etc
        </p>
        <ul class="services__list">
          <li class="services__list__item">Steak House</li>
          <li class="services__list__item">Tasty Cereals</li>
          <li class="services__list__item">Italian Pizza</li>
          <li class="services__list__item">Vegeterian Burgers</li>
          <li class="services__list__item">Awesome Cupcake</li>
          <li class="services__list__item">Vegetables</li>
        </ul>
      </section>
      <section class="benefits container">
        <h2 class="section-headline benefits__headline">
          <span class="section-headline-bold">Agro perfect</span> food for you
        </h2>
        <p class="benefits__description">
          Latin words, combined with a handful of model sentence structures, to
          generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
          is therefore always free from repetition injected humour, or
          non-characteristic words etc. Contrary to popular belief, Lorem Ipsum
          is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard
          McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words, consectetur, from a
          Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered
        </p>
        <button type="button" class="default-btn benefits__btn">Disover</button>
        <ul class="benefits__list">
          <li class="benefits__list__item">
            <img src="./images/photo7.jpg" alt="There was a photo" />
            <div class="benefits__list__item__descr">
              <h3 class="benefits__list__item__descr__headline">
                Superfoods you should be eating
              </h3>
              <p class="benefits__list__item__descr__text">
                The generated Lorem Ipsum is therefore always free from
                repetition injected humour, or non-characteristic words etc.
                Susp endisse ultricies nisi vel quam suscipit
              </p>
            </div>
          </li>
          <li class="benefits__list__item">
            <img src="./images/photo8.jpg" alt="There was a photo" />
            <div class="benefits__list__item__descr">
              <h3 class="benefits__list__item__descr__headline">
                Health Benefits of a Raw Food
              </h3>
              <p class="benefits__list__item__descr__text">
                Dogfish shark, bango hog sucker, baikal oilfish, eeltail catfish
                regal whiptail catfish; squarehead catfish electric ray.
              </p>
            </div>
          </li>
          <li class="benefits__list__item">
            <img src="./images/photo9.jpg" alt="There was a photo" />
            <div class="benefits__list__item__descr">
              <h3 class="benefits__list__item__descr__headline">
                Grunt torrent catfish squaretail Norwegian Atlantic salmon
              </h3>
              <p class="benefits__list__item__descr__text">
                Northern clingfish searobin betta blue shark. Jackfish leopard
                danio suckermouth armored catfish, eelpout velvetfish
                goldspotted killifish--driftfish ronquil emperor golden loach
              </p>
            </div>
          </li>
          <li class="benefits__list__item">
            <img src="./images/photo10.jpg" alt="There was a photo" />
            <div class="benefits__list__item__descr">
              <h3 class="benefits__list__item__descr__headline">
                Tips for Ripening your Fruit
              </h3>
              <p class="benefits__list__item__descr__text">
                The generated Lorem Ipsum is therefore always free from
                repetition injected humour, or non-characteristic words etc.
                Susp endisse ultricies nisi vel quam suscipit
              </p>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
