<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Organic Food</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="site-header-container container">
        <nav class="navigation">
          <a href="#" class="logo">AGRO</a>
          <ul class="navigation__list">
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">Home</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">About</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">Pages</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">Gallery</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">Blog</a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__item__link">Contacts</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="default-btn navigation-btn">
          Get in touch
        </button>
      </div>
    </header>
    <main>
      <section class="slider-screen">
        <h1 class="site-headline container"><span>Organic Food</span></h1>
        <div class="products">
          <div class="product product--sweets">
            <p class="product-name">
              <span class="product-name-bold">Awesome</span><br />sweets
            </p>
          </div>
          <div class="products-aside">
            <div class="products-aside-line">
              <div class="product product--organic">
                <p class="product-name">
                  <span class="product-name-bold">Organic</span><br />food
                </p>
              </div>
              <div class="product product--meat">
                <p class="product-name">
                  <span class="product-name-bold">Tasty</span><br />meat
                </p>
              </div>
            </div>
            <div class="products-aside-line">
              <div class="head-product">
                <h2 class="section-headline products-section-headline">
                  <span class="section-headline-bold">Agro</span> awesome
                  products
                </h2>
              </div>
              <div class="product product--fruits">
                <p class="product-name">
                  <span class="product-name-bold">Juicy</span><br />fruits
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="slogan container">
        <div class="slogan-bg">
          <p class="slogan-text">
            <span class="slogan-text-yellow">Quality</span>
            <span class="slogan-text-pink">food is the</span>
            <span class="slogan-text-green">most important</span>
            <span class="slogan-text-orange">thing in our</span>
            <span class="slogan-text-blue">life</span>
          </p>
        </div>
      </section>
      <section class="services container">
        <h2 class="section-headline services__headline">
          <span class="section-headline-bold">Agro food</span> services
        </h2>
        <p class="section-description services__description">
          Latin words, combined with a handful of model sentence structures, to
          generate Lorem Ipsum which looks reasonable.
        </p>
        <ul class="services__list">
          <li class="services__list__item">Steak House</li>
          <li class="services__list__item">Tasty Cereals</li>
          <li class="services__list__item">Italian Pizza</li>
          <li class="services__list__item">Vegeterian Burgers</li>
          <li class="services__list__item">Awesome Cupcake</li>
          <li class="services__list__item">Vegetables</li>
        </ul>
      </section>
      <section class="benefits">
        <div class="container">
          <h2 class="section-headline benefits__headline">
            <span class="section-headline-bold">Agro perfect</span> food for you
          </h2>
          <p class="benefits__description">
            Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable. The generated Lorem
            Ipsum is therefore always free from repetition injected humour, or
            non-characteristic words etc. Contrary to popular belief, Lorem
            Ipsum is not simply random text. It has roots in a piece of
            classical Latin literature from 45 BC, making it over 2000 years
            old.
          </p>
          <button type="button" class="default-btn benefits__btn">
            Discover
          </button>
          <ul class="benefits__list">
            <li class="benefits__list__item">
              <img
                src="./images/photo7.jpg"
                alt="There was a photo"
                width="292"
                height="221"
              />
              <div class="benefits__list__item__descr">
                <h3 class="benefits__list__item__descr__headline">
                  Superfoods you should be eating
                </h3>
                <p class="benefits__list__item__descr__text">
                  The generated Lorem Ipsum is therefore always free from
                  repetition injected humour, or
                </p>
              </div>
            </li>
            <li class="benefits__list__item">
              <img
                src="./images/photo8.jpg"
                alt="There was a photo"
                width="292"
                height="221"
              />
              <div class="benefits__list__item__descr">
                <h3 class="benefits__list__item__descr__headline">
                  Health Benefits of a Raw Food
                </h3>
                <p class="benefits__list__item__descr__text">
                  Dogfish shark, bango hog sucker, baikal oilfish, eeltail
                  catfish regal whiptail catfish; squarehead
                </p>
              </div>
            </li>
            <li class="benefits__list__item">
              <img
                src="./images/photo9.jpg"
                alt="There was a photo"
                width="292"
                height="221"
              />
              <div class="benefits__list__item__descr">
                <h3 class="benefits__list__item__descr__headline">
                  Grunt torrent catfish squaretail Norwegian Atlantic salmon
                </h3>
                <p class="benefits__list__item__descr__text">
                  Northern clingfish searobin betta blue shark. Jackfish leopard
                  danio
                </p>
              </div>
            </li>
            <li class="benefits__list__item">
              <img
                src="./images/photo10.jpg"
                alt="There was a photo"
                width="292"
                height="221"
              />
              <div class="benefits__list__item__descr">
                <h3 class="benefits__list__item__descr__headline">
                  Tips for Ripening your Fruit
                </h3>
                <p class="benefits__list__item__descr__text">
                  The generated Lorem Ipsum is therefore always free from
                  repetition injected humour, or
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="tasty">
        <div class="container">
          <p class="tasty__text">Tasty Cakes</p>
        </div>
      </section>
      <section class="progress container">
        <h2 class="section-headline progress__headline">
          <span class="section-headline-bold">Agro</span> progress
        </h2>
        <p class="section-description progress__description">
          Latin words, combined with a handful of model sentence structures, to
          generate Lorem Ipsum which looks reasonable.
        </p>
        <ul class="progress__list">
          <li class="progress__list__item">
            <p class="progress__list__item-number">350</p>
            <p class="progress__list__item-name">Muffins</p>
          </li>
          <li class="progress__list__item">
            <p class="progress__list__item-number">158</p>
            <p class="progress__list__item-name">Cakes</p>
          </li>
          <li class="progress__list__item">
            <p class="progress__list__item-number">500+</p>
            <p class="progress__list__item-name">Cupcakes</p>
          </li>
          <li class="progress__list__item">
            <p class="progress__list__item-number">685</p>
            <p class="progress__list__item-name">Douhnuts</p>
          </li>
        </ul>
      </section>
      <section class="gallery">
        <h2 class="gallery-headline">
          <span class="visually-hidden">Gallery</span>
        </h2>
        <ul class="galllery__list">
          <li class="gallery__list__item">
            <img
              src="./images/photo11.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo12.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo13.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo14.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo15.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo16.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo17.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
          <li class="gallery__list__item">
            <img
              src="./images/photo18.jpg"
              alt="There was a picture"
              width="400"
              height="3770"
            />
            <div class="gallery__list__item-hov">
              <p class="gallery__list__item-hov-text">Tasty Jam</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="reviews">
        <div class="container">
          <h2 class="section-headline reviews__headline">
            <span class="section-headline-bold">People say</span> about Agro
          </h2>
          <p class="section-description reviews__description">
            Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable.
          </p>
          <ul class="reviews__list">
            <li class="reviews__list__item review-active">
              <p class="reviews__text">
                Latin words, combined with a handful of model sentence
                structures, to generate Lorem Ipsum which looks reasonable. The
                generated Lorem Ipsum is therefore always free from repetition
                injected humour, or non-characteristic words etc. Contrary to
                popular belief, Lorem Ipsum is not simply random text. It has
                roots in a piece of classical Latin literature from 45 BC,
                making it over
              </p>
              <div class="reviews__footer">
                <div class="reviews__footer__author">
                  <div class="reviews__footer__author__photo">
                    <img
                      src="./images/user_photo.png"
                      alt="There was a picture"
                    />
                  </div>
                  <p class="reviews__footer__author__person">
                    <span class="reviews__footer__author__person-name"
                      >Terens Smith</span
                    >/CEO AntalAgro
                  </p>
                </div>
                <div class="reviews__photo__pag">
                  <span
                    class="reviews__photo__pagination pagination-active"
                  ></span>
                  <span class="reviews__photo__pagination"></span>
                  <span class="reviews__photo__pagination"></span>
                </div>
              </div>
            </li>
            <li class="reviews__list__item">
              <p class="reviews__text">
                Latin words, combined with a handful of model sentence
                structures, to generate Lorem Ipsum which looks reasonable. The
                generated Lorem Ipsum is therefore always free from repetition
                injected humour, or non-characteristic words etc. Contrary to
                popular belief, Lorem Ipsum is not simply random text. It has
                roots in a piece of classical Latin literature from 45 BC,
                making it over
              </p>
              <div class="reviews__footer">
                <div class="reviews__footer__author">
                  <div class="reviews__footer__author__photo">
                    <img
                      src="./images/user_photo.png"
                      alt="There was a picture"
                    />
                  </div>
                  <p class="reviews__footer__author__person">
                    <span class="reviews__footer__author__person-name"
                      >Terens Smith</span
                    >/CEO AntalAgro
                  </p>
                </div>
                <div class="reviews__photo__pagination">
                  <span class="reviews__photo__pagination"></span>
                  <span class="reviews__photo__pagination-active"></span>
                  <span class="reviews__photo__pagination"></span>
                </div>
              </div>
            </li>
            <li class="reviews__list__item">
              <p class="reviews__text">
                Latin words, combined with a handful of model sentence
                structures, to generate Lorem Ipsum which looks reasonable. The
                generated Lorem Ipsum is therefore always free from repetition
                injected humour, or non-characteristic words etc. Contrary to
                popular belief, Lorem Ipsum is not simply random text. It has
                roots in a piece of classical Latin literature from 45 BC,
                making it over
              </p>
              <div class="reviews__footer">
                <div class="reviews__footer__author">
                  <div class="reviews__footer__author__photo">
                    <img
                      src="./images/user_photo.png"
                      alt="There was a picture"
                    />
                  </div>
                  <p class="reviews__footer__author__person">
                    <span class="reviews__footer__author__person-name"
                      >Terens Smith</span
                    >/CEO AntalAgro
                  </p>
                </div>
                <div class="reviews__photo__pagination">
                  <span class="reviews__photo__pagination"></span>
                  <span class="reviews__photo__pagination"></span>
                  <span class="reviews__photo__pagination-active"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="blog container">
        <h2 class="section-headline blog__headline">
          <span class="section-headline-bold">Blog</span> posts
        </h2>
        <p class="section-description reviews__description">
          Latin words, combined with a handful of model sentence structures, to
          generate Lorem Ipsum which looks reasonable.
        </p>
        <ul class="blog__list">
          <li class="blog__list__item">
            <img
              src="./images/photo19.jpg"
              alt="There was a photo"
              width="370"
              height="396"
            />
            <div class="blog__list__item__date">
              <p class="blog__list__item__date-num">07</p>
              <p class="blog__list__item__date-month">Nov</p>
            </div>
            <div class="blog__list__item__text">
              <p class="blog__list__item__text__category">
                ORGANIC FOOD/TIPS & GUIDES
              </p>
              <h3 class="blog__list__item__text__headline">
                Tips for Ripening your Fruit
              </h3>
            </div>
          </li>
          <li class="blog__list__item">
            <img
              src="./images/photo20.jpg"
              alt="There was a photo"
              width="370"
              height="396"
            />
            <div class="blog__list__item__date">
              <p class="blog__list__item__date-num">03</p>
              <p class="blog__list__item__date-month">Nov</p>
            </div>
            <div class="blog__list__item__text">
              <p class="blog__list__item__text__category">DIET/ORGANIC FOOD</p>
              <h3 class="blog__list__item__text__headline">
                Health Benefits of a Raw Food
              </h3>
            </div>
          </li>
          <li class="blog__list__item">
            <img
              src="./images/photo21.jpg"
              alt="There was a photo"
              width="370"
              height="396"
            />
            <div class="blog__list__item__date">
              <p class="blog__list__item__date-num">25</p>
              <p class="blog__list__item__date-month">Oct</p>
            </div>
            <div class="blog__list__item__text">
              <p class="blog__list__item__text__category">DIET/ORGANIC FOOD</p>
              <h3 class="blog__list__item__text__headline">
                Superfoods you should be eating
              </h3>
            </div>
          </li>
        </ul>
      </section>
      <section class="marks container">
        <h2><span class="visually-hidden">Organizations</span></h2>
        <ul class="marks__list">
          <li class="marks__list__item">
            <img src="./images/mark1.jpg" alt="There was a photo" />
          </li>
          <li class="marks__list__item">
            <img src="./images/mark2.jpg" alt="There was a photo" />
          </li>
          <li class="marks__list__item">
            <img src="./images/mark3.jpg" alt="There was a photo" />
          </li>
          <li class="marks__list__item">
            <img src="./images/mark4.jpg" alt="There was a photo" />
          </li>
          <li class="marks__list__item">
            <img src="./images/mark5.jpg" alt="There was a photo" />
          </li>
        </ul>
      </section>
    </main>
    <footer class="site-footer">
      <div class="footer__content container">
        <a href="#" class="logo footer-logo">AGRO</a>
        <nav class="footer__content__nav">
          <ul class="footer__content__nav-list">
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link">Home</a>
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >About</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Pages</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Gallery</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link">Blog</a>
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Contacts</a
              >
            </li>
          </ul>
          <ul class="footer__content__nav-list">
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Partners</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Customer Service</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Vegetables</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Fruits</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Organic Food</a
              >
            </li>
            <li class="footer__content__nav-list__item">
              <a href="#" class="footer__content__nav-list__item__link"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </nav>
        <div class="footer__content__contacts">
          <div class="footer__content__contacts__item">
            <p class="footer__content__contacts__item-name">email</p>
            <p class="footer__content__contacts__item-text">support@agrocompany.com</p>
          </div>
          <div class="footer__content__contacts__item">
            <p class="footer__content__contacts__item-name">Phone</p>
            <p class="footer__content__contacts__item-text">+1 (234) 56789,  +1 987 654 3210</p>
          </div>
          <ul class="footer__content__contacts__socials">
            <li class="footer__content__contacts__socials__item">
              <a href="https://twitter.com/home" class="socials__item-twit"
                ><span class="visually-hidden">twitter</span></a
              >
            </li>
            <li class="footer__content__contacts__socials__item">
              <a href="https://www.facebook.com/" class="socials__item-fb"
                ><span class="visually-hidden">facebook</span></a
              >
            </li>
            <li class="footer__content__contacts__socials__item">
              <a href="https://www.linkedin.com/" class="socials__item-linkedin"
                ><span class="visually-hidden">linkedin</span></a
              >
            </li>
          </ul>
        </div>
        <div class="footer__content__bottom">
          <p class="footer__content__bottom-author">
            © 2017, AgroTheme by Artureanec | <a href="#">Privacy Policy</a> |
            <a href="#">Sitemap</a>
          </p>
          <p class="footer__content__bottom-res">All Rights Reserved.</p>
        </div>
      </div>
      <div class="footer__map">
        <div class="footer__map-mark"></div>
      </div>
    </footer>
  </body>
</html>
