:root {
  box-sizing: border-box;
  color: #000000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in;
}

.site-headline {
  font-weight: 700;
  text-align: center;
  padding: 30px 0;
}

.card__text {
  order: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card__text > :nth-last-child(2) {
  margin-top: auto;
}

.card__title {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 10px;
}

.card__title a,
.card__bottom--trailer {
  text-decoration: none;
  color: #848ae8;
  transition: all 200ms ease-in;
}

.card__title a:hover,
.card__bottom--trailer:hover,
.card__title a:focus,
.card__bottom--trailer:focus {
  color: #91b4ff;
}

.card__descr {
  padding-bottom: 10px;
  max-width: 60ch;
  overflow: hidden;
}

.cta {
  display: block;
  padding: 15px 20px;
  margin: 0 0 0 auto;
  width: fit-content;
  background-color: #848ae8;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.cta:hover,
.cta:focus {
  background-color: #91b4ff;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.card__bottom--trailer {
  padding: 10px 0 5px 30px;
}

.card__image {
  margin: 0 -10px 10px -10px;
  position: relative;
  height: 160px;
  overflow: hidden;
}

.card__image img {
  min-height: 100%;
  object-fit: cover;
}

.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    rgba(132, 138, 232, 0.6),
    rgba(145, 180, 255, 0.6)
  );
  transition: all 200ms ease-in;
}

.card:hover,
.card:focus,
.card:focus-within {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

.card:hover .card__image::after,
.card:focus .card__image::after,
.card:focus-within .card__image::after {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}
