<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Music_fest</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="slider-screen">
      <header class="site-header container">
        <nav class="site-navigation">
          <ul class="site-navigation__list">
            <li class="site-navigation__list__item">
              <a href="#">Ingressos</a>
            </li>
            <li class="site-navigation__list__item">
              <a href="#">trajetória</a>
            </li>
            <li class="site-navigation__list__item"><a href="#">Galeria</a></li>
            <li class="site-navigation__list__item"><a href="#">o show</a></li>
          </ul>
        </nav>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://www.facebook.com/" class="socials__item-fb"
              ><span class="visually-hidden">facebook</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://twitter.com/home" class="socials__item-twit"
              ><span class="visually-hidden">twitter</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://www.youtube.com/" class="socials__item-youtube"
              ><span class="visually-hidden">youtube</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://www.instagram.com/" class="socials__item-inst"
              ><span class="visually-hidden">instagram</span></a
            >
          </li>
        </ul>
      </header>
      <section class="slider container">
        <div class="slider-wrap">
          <p class="slider__description">Lorem ipsum</p>
          <h1 class="slider__headline">Music festival</h1>
          <p class="slider__description">
            Lorem ipsum dolor sit amet consectetur
          </p>
          <button type="button" class="slider__btn">Lorem ipsum</button>
        </div>
      </section>
    </div>
    <main>
      <section class="propositions">
        <div class="container">
          <h2 class="propositions__headline section-headline">Ingressos</h2>
          <ul class="propositions__list">
            <li class="propositions__list__item proposition-1">
              <h3 class="propositions__list__item__headline">Lorem ipsum</h3>
              <div class="propositions__list__item__price">
                <span class="propositions__list__item__price-small">$</span
                ><span class="propositions__list__item__price-big">100</span
                ><span class="propositions__list__item__price-small">,00</span>
              </div>
              <button
                type="button"
                class="propositions__list__item__btn default-btn"
              >
                Lorem ipsum
              </button>
              <p class="propositions__list__item__description">
                Lorem ipsum dolor sit amet
              </p>
              <p class="propositions__list__item__text">
                Lorem ipsum dolor sit amet consectetur, adipiscing elit pharetra
                platea tristique, aliquet netus tortor justo.
              </p>
            </li>
            <li class="propositions__list__item proposition-2">
              <h3 class="propositions__list__item__headline">Lorem ipsum</h3>
              <div class="propositions__list__item__price">
                <span class="propositions__list__item__price-small">$</span
                ><span class="propositions__list__item__price-big">50</span
                ><span class="propositions__list__item__price-small">,00</span>
              </div>

              <button
                type="button"
                class="propositions__list__item__btn default-btn"
              >
                Lorem ipsum
              </button>
              <p class="propositions__list__item__description">
                Lorem ipsum dolor sit amet
              </p>
              <p class="propositions__list__item__text">
                Lorem ipsum dolor sit amet consectetur, adipiscing elit pharetra
                platea tristique, aliquet netus tortor justo.
              </p>
            </li>
          </ul>
          <p class="propositions__descr">
            Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
            primis tortor taciti viverra magna habitasse conubia, aenean laoreet
            tellus aliquam sollicitudin mollis. Neque mattis mauris himenaeos
            vestibulum.
          </p>
        </div>
      </section>
      <section class="tajectory">
        <div class="container tajectory-container">
          <div class="tajectory-container__content">
            <h2 class="trajectory__headline section-headline">trajetória</h2>
            <p class="trajectory__description">
              Lorem ipsum dolor sit amet consectetur, adipiscing elit phasellus
              posuere placerat, conubia dictum metus.
            </p>
            <ul class="trajectory__list">
              <li class="trajectory__list__item">
                <p class="trajestory__list__item__year">2009</p>
                <p class="trajectory__list__item__description">
                  Lorem ipsum dolor sit amet consectetur, adipiscing elit
                  phasellus posuere placerat, conubia dictum.
                </p>
              </li>
              <li class="trajectory__list__item">
                <p class="trajestory__list__item__year">2010</p>
                <p class="trajectory__list__item__description">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit,
                  rhoncus quis a tortor suscipit erat, facilisi blandit nascetur
                  imperdiet.
                </p>
              </li>
              <li class="trajectory__list__item">
                <p class="trajestory__list__item__year">2014</p>
                <p class="trajectory__list__item__description">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit,
                  rhoncus quis a tortor suscipit erat.
                </p>
              </li>
              <li class="trajectory__list__item">
                <p class="trajestory__list__item__year">2015</p>
                <p class="trajectory__list__item__description">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit,
                  rhoncus quis a tortor suscipit erat.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="gallery">
        <div class="container">
          <h2 class="gallery__headline section-headline">Galeria</h2>
          <ul class="gallery__list">
            <li class="gallery__list__item">
              <img src="./images/gallery1.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery2.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery3.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery4.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery5.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery6.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery7.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery8.jpg" alt="There was a photo!" />
            </li>
            <li class="gallery__list__item">
              <img src="./images/gallery9.jpg" alt="There was a photo!" />
            </li>
          </ul>
          <button
            type="button"
            class="propositions__list__item__btn default-btn"
          >
            Lorem ipsum
          </button>
        </div>
      </section>
      <section class="map">
        <div class="map__container">
          <h2 class="map__headline section-headline">Galeria</h2>
          <p class="map__description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet
            gravida lobortis, neque ad vivamus auctor parturient et proin nam
            himenaeos.
          </p>
          <p class="map__text">
            Lorem ipsum dolor sit amet consectetur, adipiscing elit integer ac
            luctus mi, tellus felis sem justo.
          </p>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <div class="site-footer-container container">
        <div class="site-footer__contact">
          <p class="site-footer__contact-logo">Music<br>festival</p>
          <p class="site-footer__contact-text">
            Lorem ipsum dolor sit, amet consectetur.
          </p>
        </div>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://www.facebook.com/" class="socials__item-fb"
              ><span class="visually-hidden">facebook</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://twitter.com/home" class="socials__item-twit"
              ><span class="visually-hidden">twitter</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://www.youtube.com/" class="socials__item-youtube"
              ><span class="visually-hidden">youtube</span></a
            >
          </li>
          <li class="socials__item">
            <a href="https://www.instagram.com/" class="socials__item-inst"
              ><span class="visually-hidden">instagram</span></a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
